---js
const eleventyNavigation = {
	key: "Misc",
	order: 4
};
const eleventyComputed = {
	title: "{{ eleventyNavigation.key }}",
	description: "This page contains random stuff that don't fit into any category, relating to {{ metadata.author.name }} (@{{ metadata.username }})."
};
---
<h1>Miscellaneous</h1>
<p>Things listed here don't fit neatly into a category.</p>
<ul>
    <li><a href="/now/" class="misc-link">/now</a></li>
    <li><a href="/uses/" class="misc-link">/uses</a></li>
    <li><a href="/contact-me/" class="misc-link">Contact me</a></li>
    <!-- <li><a href="/resume/" class="misc-link">Resume</a></li> -->
    <li><a href="/gallery/" class="misc-link">Gallery</a></li>
    <li><a href="/interesting-links/" class="misc-link">Interesting Links</a></li>
    <li><a href="/interesting-people/" class="misc-link">Interesting People</a></li>
</ul>
